@import url('https://fonts.googleapis.com/css?family=Karla');

:root {
	--base: red;
	--spacing: 10px;
	--blur: 0px;
	--width: 500px;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Karla', sans-serif;
}

.controls {
	display: flex;
	justify-content: space-between;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
	width: var(--width);
	margin: 30px;
}